.wheel-place{
    width:130px;
    height:130px;
    z-index: -1;
    background-color: var(--background-color);
    margin-top: 185px;
    margin-left: 185px;
    border-radius: 50% 50% 0 0;
}
.around{
    background-color: #263478;
    margin-left:100px;
    margin-top: 150px;
    width: 900px;
    height: 140px;
    z-index: -2;
}
.car>div{
    z-index:-1;
}
.car>div::after{
    content: '';
    position:absolute;
}
.car>.p-1{
    height: 0;
    width: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid var(--background-color);
    border-bottom: 7px solid transparent;
    margin-top: 270px;
    margin-left:100px;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}
.car>.p-1::after{
    border-bottom: 50px solid var(--background-color);
    border-right: 10px solid transparent;
    height: 0;
    width: 0;
    margin-top: -58px;
    margin-left:-10px;
}
.car>.p-2{
    border-right: 70px solid transparent;
    border-top: 30px solid var(--background-color);
    height: 0;
    width: 0;
    margin-top: 150px;
    margin-left:100px;
}
.car>.p-2::after{
    width:0;
    height:25px;
    margin-top:-5px;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left: 15px solid var(--background-color);
}
.car>.p-3{
    margin-top: 150px;
    margin-left:100px;
    background-color: #72bce9;
    width:250px;
    height:0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right:50px solid var(--background-color);
    border-bottom:15px solid transparent;
    transform:rotateZ(-8deg);
}
.car>.p-3::after{
    width:0px;
    height:0px;
    left:35px;
    top:-37px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 71px solid #72bce9;
    transform:rotateZ(75deg)
}
.car>.p-4{
    position: absolute;
    background-color:#5080c1;
    margin-top:145px;
    margin-left:101px;
    z-index:-2;
    width:298px;
    height:30px;
    transform: rotateZ(-5deg);
}
.car>.p-4::after{
    top:3px;
    left:100px;
    width:70px;
    height:70px;
    --border:15px;
    border-radius: 100% 0 0 0;
    border-top: var(--border) solid #5080c1;
    border-left: var(--border) solid #5080c1;
    transform:rotateZ(45deg);
}
.car>.p-5{
    margin-top: 143px;
    margin-left: 260px;
    width: 0;
	height: 0;
    --size:22px;
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: calc(var(--size) * 3) solid #5080c1;
    transform: rotateZ(-72deg);
}
.car>.p-5::after{
    --o-size:40px;
    width:calc(var(--o-size) * 3);
    height:var(--o-size);
    background-color:#263478;
    border-radius: calc(var(--o-size) * 3)/var(--o-size);
    transform:rotateZ(58deg);
    margin-left:-28px;
    margin-top:92px;
}
.car>.p-6{
    height: 0; 
    --height:2px;
    width: calc(var(--height) * 40);
    border-bottom: calc(var(--height) * 2) solid #5080c1;
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
    margin:210px 100px 0;
    transform:rotateZ(-5deg);
}
.car>.p-6::after{
    width: 0; 
    height: 0;
    --size:2px;
    --color:#5080c1;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: calc(var(--size) * 34) solid var(--color);
    margin:40px 0px 0 30px;
    transform: rotateZ(-86deg);
}
.car>.p-7{
    background: #1b1b1b;
    border-radius: 3px;
    width:15px;
    height:25px;
    margin: 243px 0 0 120px;
}
.car>.p-7::after{
    background: #1b1b1b;
    border-radius: 2px;
    width:15px;
    height:8px;
    margin:30px 0 0;
}
.car>.p-8{
    width: 0; 
    height: 0;
    border-top: 27px solid #29235c;
    border-left: 10px solid transparent;
    margin: 243px 0 0 112px;
}
.car>.p-8::after{
    width: 0; 
    height: 0;
    border-top: 10px solid #29235c;
    border-left: 10px solid transparent;
    margin: 3px 0 0 -10px;
}
.car>.p-9{
    background: #1b1b1b;
    border-radius: 3px;
    width:13px;
    height:15px;
    margin: 220px 0 0 122px;
}
.car>.p-9::after{
    background-color: #29235c;
    height:1px;
    width:50px;
    margin:20px 0 0 -15px;
}
.car>.p-10{
    background: #1b1b1b;
    width:15px;
    height:40px;
    margin: 223px 0 0 165px;
    border-top-left-radius: 50%;
    transform: skewX(-5deg);
}
.car>.p-10::after{
    border-top: 4px solid #5080c1;
    width:20px;
    height:50px;
    margin: -7px 0 0 -3px;
    border-radius:50% 5% 0;
}
.car>.p-11{
    background:#3c3c3b;
    margin: 178px 0 0 105px;
    width:80px;
    height:25px;
    transform:rotateY(40deg) rotateZ(-5deg);
    border-radius: 25% 10% 50% 5%;
    border-top:3px solid #3c3c3b;
}
.car>.p-11::after{
    background: linear-gradient(#9d9d9c 20%,#dadada 20% 40%, #9d9d9c 40% 60%,#3c3c3b 60% 80%, #9d9d9c 80%);
    transform: rotateZ(5deg);
    width:7px;
    height:26px;
    margin: -2px 0 0 15px;
}
.car>.p-12{
    background: linear-gradient(#9d9d9c 20%,#dadada 20% 40%, #9d9d9c 40% 60%,#3c3c3b 60% 80%, #9d9d9c 80%);
    width:7px;
    height:26px;
    margin: 178px 0 0 140px;
}
.car>.p-12::after{
    background: linear-gradient(#9d9d9c 20%,#dadada 20% 40%, #9d9d9c 40% 60%,#3c3c3b 60% 80%, #9d9d9c 80%);
    width:10px;
    height:24px;
    margin:-2px 0 0 18px;
    transform: skewX(-5deg) skewY(-10deg);
}
.car>.p-13{
    margin: 178px 0 0 120px;
    background-color: transparent;
    border-radius: 50%;
    width:85px;
    height:5px;
    opacity: 0.8;
    border-top:5px solid #b9cce6;
    transform: rotateZ(-10deg);
}
.car>.p-13::after{
    background-color: #1b1b1b;
    width:45px;
    height:3px;
    border-bottom:2px solid #5080c1;
    transform: rotateZ(10deg);
    opacity: 1;
    margin:22px 0 0 35px;
}
.car>.p-14{
    margin: 160px 0 0 180px;
    background-color: transparent;
    border-radius: 100px;
    width:140px;
    height:150px;
    opacity: 0.8;
    border-top:5px solid #b9cce6;
    transform: rotateZ(5deg);
}
.car>.p-14::after{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin:-7px 0 0 55px;
    opacity: 0.75;
}
.car>.p-15{
    border-radius: 50%;
    width:300px;
    height:3px;
    border-top:3px solid #5080c1;
    margin:230px 0 0 350px;
}
.car>.p-15::after{
    width:400px;
    height:100px;
    border-top-left-radius:50% ;
    border-top-right-radius: 50%;
    background:#5080c1;
    margin:-165px 0 0 30px;
    transform:rotateZ(-4deg);
}
.car>.p-16{
    background-color: #1b1b1b;
    width:65px;
    height:3px;
    border-bottom:2px solid #5080c1;
    margin:250px 0 0 315px;
}
.car>.p-16::after{
    background-color: #1b1b1b;
    width:3px;
    height:75px;
    border-right:1px solid #5080c1;
    margin:-70px 0 0 65px;
}
.car>.p-17{
    border-radius: 50%;
    background: linear-gradient(-170deg,#1b1b1b 0% 50%, transparent 50% 100%);
    width:60px;
    height:10px;
    margin:163px 0 0 356px;
    transform: rotateZ(-85deg);
}
.car>.p-17::after{
    background-color: var(--background-color);
    width:200px;
    height:70px;
    transform: rotateZ(60deg);
    margin:35px 0 0 35px;
    border-radius: 5%;
}
.car>.p-18{
    background-color: #1b1b1b;
    transform: skewX(40deg) rotateZ(-19deg);
    width:200px;
    height:15px;
    margin:96px 0 0 340px;
    border-radius: 10px;
}
.car>.p-18::after{
    background-color: #5b6f78;
    width:180px;
    height:13px;
    border-radius: 7px;
    margin:1px 0 0 1px;
}
.car>.p-19{
    background-color: #adb7bc;
    margin:94px 0 0 400px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    width:15px;
    height:50px;
    transform: skewX(-40deg) rotateZ(50deg);
}
.car>.p-19::after{
    height: 0; 
    width: 40px;
    border-bottom:10px solid #1b1b1b;
    border-left: 10px solid transparent;
    transform: rotateZ(-40deg);
    margin:45px 0 0 -18px;
}
.car>.p-20{
    border-left:3px solid #1b1b1b;
    border-right:3px solid #1b1b1b;
    border-bottom:3px solid #1b1b1b;
    width:250px;
    height:30px;
    margin:230px 0 0 380px;
}
.car>.p-20::after{
    background:#5080c1;
    height:12px;
    width:400px;
    margin:32px 0 0 -60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.car>.p-21{
    border-right:3px solid #1b1b1b;
    width:10px;
    height:150px;
    border-top-right-radius:50%;
    border-bottom-right-radius: 50%;
    margin:100px 0 0 625px;
}
.car>.p-21::after{
    border-top:5px solid #5080c1;
    width:400px;
    height:2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin:180px 0 0 -300px;
}
.car>.p-22{
    width:130px;
    height:130px;
    z-index: -1;
    background-color: var(--background-color);
    margin-top: 185px;
    margin-left: 730px;
    border-radius: 50% 50% 0 0;
}
.car>.p-22::after{
    margin: -10px 0 0 -5px;
    border-radius: 100px;
    width:140px;
    height:150px;
    border-top:5px solid #5080c1;
    transform: rotateZ(5deg);
}
.car>.p-23{
    margin:80px 0 0 400px;
    height: 0; 
    width: 115px;
    border-bottom: 60px solid #1d1d1b;
    border-left: 130px solid transparent;
    border-right: 10px solid transparent;
}
.car>.p-23::after{
    margin:5px 0 0 -110px;
    height: 0; 
    width: 90px;
    border-bottom: 50px solid #3c3c3b;
    border-left: 110px solid transparent;
    border-right: 10px solid transparent;
}
.car>.p-24{
    margin:76px 0 0 640px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 20%;
    height:60px;
    width:80px;
    background-color: #1d1d1b;
    transform: rotate(-5deg);
}
.car>.p-24::after{
    margin:5px 0 0 0px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 20%;
    height:50px;
    width:70px;
    background-color: #638087;
}
.car>.p-25{
    margin:61px 0 0 500px;
    border-top:10px solid #5080c1;
    width:220px;
    height:0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
}
.car>.p-25::after{
    margin:-5px 0 0 5px;
    width:50px;
    height:13px;
    background-color: #5080c1;
    border-bottom-left-radius: 50%;
}
.car>.p-26{
    margin:90px 0 0 445px;
    height: 0; 
    width: 80px;
    border-bottom: 40px solid #638087;
    border-left: 90px solid transparent;
    border-right: 10px solid transparent;
}
.car>.p-26::after{
    background-color: #3c3c3b;
    transform: rotate(-30deg);
    width:7px;
    height:30px;
    margin: 17px 0 0 -45px;
}
.car>.p-27{
    background-color: #3c3c3b;
    margin:100px 0 0 600px;
    height:32px;
    width:13px;
    border-radius: 35% 35% 0 0;
    transform: rotate(5deg);
}
.car>.p-27::after{
    margin: 15px 0 0 -10px;
    background-color: #3c3c3b;
    height:20px;
    width:13px;
    border-top-left-radius: 100%;
}
.car>.p-28{
    margin:105px 0 0 420px;
    opacity: 0.5;
    width: 137px;
    height:0;
    border-left: 68px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 30px solid #b9ccd1;
}
.car>.p-28::after{
    margin:7px 0 0 153px;
    width: 65px;
    height:0;
    border-left: 2px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid #b9ccd1;
    transform: rotate(-5deg);
}
.car>.p-29{
    background-color: #263478;
    width:50px;
    height:25px;
    border-radius: 30%;
    opacity: 1;
    margin:115px 0 0 420px;
    transform: rotate(-5deg);
}
.car>.p-29::after{
    width: 0; 
    height: 0;
    border-bottom: 16px solid #5080c1;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin:10px 0 0 -30px;
}