/* 
    For fast change colors;
    Background-color:#262626;
*/
body{
    --background-color:#262626;
    background-color: var(--background-color);
	margin: 0;
    --length:500px;
    --deley:0ms;
    --margin:30px;
    height:var(--length);
    width:var(--length);
    border:#090526 1px solid;
}
/* 7750ms */
div{
    position: absolute;
}
.circle>div{
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background: transparent;
    margin-top: var(--margin);
    margin-left: var(--margin);
    width:calc(var(--length) - var(--margin) * 2);
    height:calc(var(--length) - var(--margin) * 2);
    border-radius: 50%;
    filter:drop-shadow(0 0 0.75rem #F2309B);
}
#fr1{
    animation-name: rotate;
    animation-duration: 6000ms;
}
#fr2{
    filter:drop-shadow(0 0 0.75rem #323C73);
    animation-name: rotate;
    animation-delay: 3000ms;
}
#fr3{
    filter:drop-shadow(0 0 0.75rem #323C73);
    animation-name: rotate60;
    animation-delay: 3500ms;
}
#fr4{
    filter:drop-shadow(0 0 0.75rem #95BF39);
    animation-name: rotate;
    animation-delay: 4000ms;
}
#fr5{
    filter:drop-shadow(0 0 0.75rem #95BF39);
    animation-name: rotate60;
    animation-delay: 4500ms;
}
#fr6{
    filter:drop-shadow(0 0 0.75rem #F24C27);
    animation-name: rotateB;
    animation-delay: 5000ms;
    animation-iteration-count: 2;
}
#fr7{
    animation-delay: 7000ms;
    filter:drop-shadow(0 0 0.75rem #F2309B);
    animation-name: rotate180;
    animation-duration: 500ms;
}
#fr8{
    animation-delay: 7250ms;
    filter:drop-shadow(0 0 0.75rem #95BF39);
    animation-name: rotate180;
    animation-duration: 500ms;
}
#fr9{
    animation-delay: 7500ms;
    filter:drop-shadow(0 0 0.75rem #F24C27);
    animation-name: rotate180;
    animation-duration: 500ms;
}
#fr10{
    animation-delay: var(--deley);
    filter:drop-shadow(0 0 20px #F2309B);
    animation-name: rotate360BM1;
}
#fr11{
    transform: scale(0.8);
    filter:drop-shadow(0 0 20px #95BF39);
    animation-name: rotate360BM2;
    animation-delay: calc(var(--deley) + 500ms);
}
#fr12{
    transform: scale(0.6);
    filter:drop-shadow(0 0 20px #F24C27);
    animation-name: rotate360BM3;
    animation-delay: calc(var(--deley) + 1000ms);
}
#fr13{
    transform: scale(0.4);
    filter:drop-shadow(0 0 20px #F2309B);
    animation-name: rotate360BM4;
    animation-delay: calc(var(--deley) + 1500ms);
}
#fr14{
    transform: scale(0.2);
    filter:drop-shadow(0 0 20px #F24C27);
    animation-name:rotateMin;
    animation-delay: calc(var(--deley) + 2000ms);
    /* background:repeating-conic-gradient(#090526 0deg 30deg,transparent 30deg 60deg); */
}
.st-circle{
    width:500px;
    height:500px;
    border-radius: 50%;
    animation-name: min;
    animation-delay: 0;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background:var(--background-color);
    transform: scale(0);
    box-shadow:0 0 50px var(--background-color);
}
.out-circle>div{
    animation-duration: 500ms;
    animation-timing-function: linear;
    width:460px;
    height:460px;
    margin-left: 20px;
    margin-top: 20px;
    background: transparent;
    border-radius: 50%;
}
#of1{
    box-shadow:0 0 0px 20px #090526;
    opacity: 0;
    animation-name: ohide;
    animation-duration: var(--deley);
}
#of2{
    animation-delay: var(--deley);
    animation-name: outMin1;
}
#of3{
    animation-delay: calc(var(--deley) + 500ms);
    transform: scale(0.8);
    animation-name: outMin2;
}
#of4{
    animation-delay: calc(var(--deley) + 1000ms);
    transform: scale(0.6);
    animation-name: outMin3;
}
#of5{
    animation-delay: calc(var(--deley) + 1500ms);
    transform: scale(0.4);
    animation-name: outMin4;
}
#of6{
    /* animation-name:oshow; */
    animation-delay: 0;
    animation-duration: calc(var(--deley) + 2000ms);
    box-shadow:0 0 0px 60px #090526;
    transform: scale(0.2);
}
.center-circle>div{
    border-radius: 50%;
    height:100px;
    width:100px;
    margin-left: 200px;
    margin-top: 200px;
    background-color: transparent;
}
#ccf1{
    animation-name: centerMin;
    animation-duration: calc(var(--deley) + 2000ms);
}
#ccf2{
    transform: scale(0.3);
    background-color: #090526;
}
.wheel-place{
    width:130px;
    height:130px;
    z-index: -1;
    background-color: var(--background-color);
    margin-top: 185px;
    margin-left: 185px;
    border-radius: 50% 50% 0 0;
}
.around{
    background-color: #263478;
    margin-left:100px;
    margin-top: 150px;
    width: calc(var(--length) - 100px);
    height: 140px;
    z-index: -2;
}
.bottom>div{
    z-index:-1;
}
.bottom>.p-1{
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid var(--background-color);
    border-bottom: 5px solid transparent;
    margin-top: 280px;
    margin-left:100px;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}
.bottom>.p-1::after{
    content: '';
    position:absolute;
    border-bottom: 50px solid var(--background-color);
    border-right: 10px solid transparent;
    height: 0;
    width: 0;
    margin-top: -60px;
    margin-left:-10px;
}
.bottom>.p-2{
    border-right: 70px solid transparent;
    border-top: 30px solid var(--background-color);
    height: 0;
    width: 0;
    margin-top: 150px;
    margin-left:100px;
}
.bottom>.p-2::after{
    width:0;
    height:25px;
    margin-top:-5px;
    position: absolute;
    content:'';
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left: 15px solid var(--background-color);
}
.bottom>.p-3{
    margin-top: 150px;
    margin-left:100px;
    background-color: #72bce9;
    width:250px;
    height:0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right:50px solid var(--background-color);
    border-bottom:15px solid transparent;
    transform:rotateZ(-8deg);
}
.bottom>.p-3::after{
    content: '';
    position:absolute;
    width:0px;
    height:0px;
    left:35px;
    top:-37px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 71px solid #72bce9;
    transform:rotateZ(75deg)
}
.bottom>.p-4{
    position: absolute;
    background-color:#5080c1;
    margin-top:145px;
    margin-left:101px;
    z-index:-2;
    width:298px;
    height:30px;
    transform: rotateZ(-5deg);
}
.bottom>.p-4::after{
    content: '';
    position:absolute;
    top:3px;
    left:100px;
    width:70px;
    height:70px;
    --border:15px;
    border-radius: 100% 0 0 0;
    border-top: var(--border) solid #5080c1;
    border-left: var(--border) solid #5080c1;
    transform:rotateZ(45deg);
}
.bottom>.p-5{
    margin-top: 143px;
    margin-left: 260px;
    width: 0;
	height: 0;
    --size:22px;
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: calc(var(--size) * 3) solid #5080c1;
    transform: rotateZ(-72deg);
}
.bottom>.p-5::after{
    content: '';
    position:absolute;
    --o-size:40px;
    width:calc(var(--o-size) * 3);
    height:var(--o-size);
    background-color:#263478;
    border-radius: calc(var(--o-size) * 3)/var(--o-size);
    transform:rotateZ(58deg);
    margin-left:-28px;
    margin-top:92px;
}
.bottom>.p-6{
    height: 0; 
    --height:2px;
    width: calc(var(--height) * 40);
    border-bottom: calc(var(--height) * 2) solid #5080c1;
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
    margin:210px 100px 0;
    transform:rotateZ(-5deg);
}