/* 
    For fast change colors;
    Background-color:#fff0f0;
*/
body{
    background-color: #fff0f0;
	margin: 0;
    height:500px;
    width:500px;
    border:#555 1px solid;
    display: inline-flexbox;
}
div{
    position: absolute;
}
.circle{
    animation-name: rotate;
    animation-delay: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background:repeating-conic-gradient(#555 0deg 30deg,transparent 30deg 60deg);
    margin-top: 20px;
    margin-left: 20px;
    width:460px;
    height:460px;
    border-radius: 50%;
    filter:drop-shadow(0 0 0.75rem crimson);
}
.circle1{
    width:500px;
    height:500px;
    border-radius: 50%;
    animation-name: clear;
    animation-delay: 0;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background:#fff0f0;
    transform: scale(0);
    box-shadow:0 0 50px #fff0f0;
}
.figure1{
    background-color: #555;
    border-radius: 50%;
    height:100px;
    width:100px;
    transform:translate(200px,200px);
    box-shadow:0 0 50px #fff0f0;
}
.circle2{
    transform: translate(20px,20px);
    width:460px;
    height:460px;
    background: transparent;
    border-radius: 50%;
    box-shadow:0 0 0px 20px #555;
}
@keyframes rotate {
    to{
        transform: rotate(60deg);
    }
}
@keyframes clear{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}